<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--appSettings是应用程序设置,可以定义应用程序的全局常量设置等信息-->
    <appSettings>
        <add key="Urlspath" value="~/xmlconfig/UrlArray.xml" />
        <add key="Configpath" value="~/xmlconfig/site.config" />
        <add key="Urlspath" value="~/xmlconfig/urls.config" />
        <add key="Userpath" value="~/xmlconfig/user.config" />
    </appSettings>
    
    <!--连接字符串设置-->
    <connectionStrings>
        <!--请自行设置连接字符串-->
        <add name="ConnectionString" connectionString="server=*.*.*.*;uid=***;pwd=***;database=***;" />
    </connectionStrings>

    <!--控制asp.net运行时的行为-->
    <system.web>
        <!--编译的行为-->
        <compilation debug="true" targetFramework="4.0" />
        
        <!--httpModules在一个应用程序内配置 HTTP 模块。-->
        <httpModules>
            <add type="CSharp.WebPageTemp.HttpModule, CSharp.WebPageTemp" name="HttpModule" />
        </httpModules>
        
        <!--httpHandlers用于根据用户请求的URL和HTTP谓词将用户的请求交给相应的处理程序。
            可以在配置级别的任何层次配置此节点，也就是说可以针对某个特定目录下指定的特殊文件进行特殊处理。
            add:指定映射到处理程序的谓词/路径。
            clear:移除当前已配置或已继承的所有处理程序映射。
            remove:移除映射到处理程序的谓词/路径。remove 指令必须与前一个 add 指令的谓词/路径组合完全匹配。该指令不支持通配符。-->
        <!--<httpHandlers>
            <add verb="*" path="templates/*.html" type="System.Web.HttpForbiddenHandler" />
        </httpHandlers>-->
        
        <!--配置asp.net http运行库的设置。可以在计算机，站点，应用程序和子目录级别声明 -->
        <httpRuntime maxRequestLength="512000" executionTimeout="3600" requestValidationMode="2.0" />
        
        <!--标识特定于页的配置设置（如是否启用会话状态、视图状态，是否检测用户的输入等）<pages>可以在计算机、站点、应用程序和子目录级别声明-->
        <pages controlRenderingCompatibilityVersion="4.0" />
        
        <identity impersonate="true" />
        <customErrors mode="Off">
            <error redirect="/templets/404.html" statusCode="404" />
        </customErrors>
        <globalization fileEncoding="utf-8" />
        <authentication mode="Windows" />
    </system.web>

    <!--该节替换在 httpHandlers 和 httpModules 节中添加的与 AJAX 相关的 HTTP 处理程序和模块。
        该节使 IIS 7.0 在集成模式下运行时可使用这些处理程序和模块。在iis7.0 下运行 ASP.NET AJAX 需要 system.webServer 节点。
        对早期版本的 IIS 来说则不需要此节。 -->
    <system.webServer>
        <!--validation:验证 validateIntegratedModeConfiguration:验证集成模式配置-->
        <validation validateIntegratedModeConfiguration="false" />
        
        <!-- modules:模块 runAllManagedModulesForAllRequests:运行所有管理模块对于所有请求 -->
        <modules runAllManagedModulesForAllRequests="true">
            <add type="CSharp.WebPageTemp.HttpModule, CSharp.WebPageTemp" name="HttpModule" />
        </modules>
        
        <!--security:安全-->
        <security>
            <!--requestFiltering:请求过滤-->
            <requestFiltering>
                <!--requestLimits:请求限制 maxAllowedContentLength:最大允许内容长度-->
                <requestLimits maxAllowedContentLength="50000000" />
            </requestFiltering>
        </security>
        
        
        <!--directoryBrowse:目录浏览-->
        <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <add value="index.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>