<?xml version="1.0" encoding="utf-8"?>
<urls>
    <rewrite name="index" type="index" inherit="CSharp.WebPageTemp.Page.index" page="index.aspx" templet="index.html">
        <item path="index.aspx" pattern="index.aspx" />
    </rewrite>
    <rewrite name="Main_Arena" type="Main_Arena" inherit="CSharp.WebPageTemp.Page.Main" page="Main_Arena.aspx" templet="Main_Arena.html">
        <item path="Main_Arena.aspx" pattern="Main_Arena.aspx" />
    </rewrite>
    <rewrite name="Main_Module" type="Main_Module" inherit="CSharp.WebPageTemp.Page.Main" page="Main_Module.aspx" templet="Main_Module.html">
        <item path="Main_Module.aspx" pattern="Main_Module.aspx" />
    </rewrite>
    <rewrite name="PeopleProfile" type="PeopleProfile" inherit="CSharp.WebPageTemp.Page.Main" page="PeopleProfile.aspx" templet="PeopleProfile.html">
        <item path="PeopleProfile.aspx" pattern="PeopleProfile.aspx" />
    </rewrite>
    <rewrite name="Page_Article" type="Page_Article" inherit="CSharp.WebPageTemp.Page.Main" page="Page_Article.aspx" templet="Page_Article.html">
        <item path="Page_Article.aspx" pattern="Page_Article.aspx" />
    </rewrite>
</urls>