<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="format-detection" content="telephone=yes"/> <!-- 设置Safari浏览器电话识别功能 -->
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta content="width=device-width,initial-scale=1,user-scalable=no" name="viewport">
    <title></title>
    <meta name="Keywords" content="" />
    <meta name="Description" content="" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="css/GlobalConfig.css">
    <link rel="stylesheet" type="text/css" href="font/iconfont.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <style type="text/css">
        html, body {
            overflow: hidden;
        }
    </style>

    <script type="text/javascript" src="../script/jquery.v1.10.2.min.js"></script>
    <script type="text/javascript" src="js/AllPageJS.js"></script>
</head>
<body>
    <div class="body">
        <!-- 图标 -->
        <div class="FixedSection Logo">
            <img class="img" src="images/logo.png" />
        </div>

        <!-- 顶部 -->
        <div class="FixedSection TopRegion">
            <div class="left TopMenus">
                <div class="list">
                    <div class="item">
                        <span class="span iconfont icon-nav"></span>
                    </div>
                    <div class="item">
                        <a class="a" href="javascript: void();">
                            <span class="span">站点管理</span>
                        </a>
                    </div>
                    <div class="item">
                        <a class="a" href="javascript: void();">
                            <span class="span">用户管理</span>
                        </a>
                    </div>
                    <div class="item">
                        <a class="a" href="javascript: void();">
                            <span class="span">系统管理</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="right user">
                <div class="avatar">
                    <img class="img" src="images/def_avatar.png" />
                </div>
                <div class="name">
                    <span class="span">管理员(admin)</span>
                </div>
            </div>
        </div>

        <!-- 导航栏 -->
        <div class="FixedSection Navigation">
            <div class="title">
                <span class="span">站点管理</span>
            </div>
            <div class="nav">
                <div class="section">
                    <div class="name">
                        <i class="icon iconfont icon-pencil"></i>
                        <span class="span">信息管理</span>
                    </div>
                    <div class="list">
                        <div class="item">
                            <!-- <div class="icon"></div> -->
                            <div class="name">内容管理</div>
                        </div>
                        <div class="item">
                            <!-- <div class="icon"></div> -->
                            <div class="name">栏目管理</div>
                        </div>
                        <div class="item">
                            <!-- <div class="icon"></div> -->
                            <div class="name">内容搜索</div>
                        </div>
                        <div class="item">
                            <!-- <div class="icon"></div> -->
                            <div class="name">投稿内容</div>
                        </div>
                        <div class="item">
                            <!-- <div class="icon"></div> -->
                            <div class="name">我的内容</div>
                        </div>
                        <div class="item">
                            <!-- <div class="icon"></div> -->
                            <div class="name">批量转移</div>
                        </div>
                        <div class="item">
                            <!-- <div class="icon"></div> -->
                            <div class="name">内容审核</div>
                        </div>
                        <div class="item">
                            <!-- <div class="icon"></div> -->
                            <div class="name">内容回收站</div>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <div class="name">
                        <i class="icon iconfont icon-pencil"></i>
                        <span class="span">信息管理</span>
                    </div>
                    <div class="list">
                        <div class="item">
                            <!-- <div class="icon"></div> -->
                            <div class="name">内容管理</div>
                        </div>
                        <div class="item">
                            <!-- <div class="icon"></div> -->
                            <div class="name">栏目管理</div>
                        </div>
                        <div class="item">
                            <!-- <div class="icon"></div> -->
                            <div class="name">内容搜索</div>
                        </div>
                        <div class="item">
                            <!-- <div class="icon"></div> -->
                            <div class="name">投稿内容</div>
                        </div>
                        <div class="item">
                            <!-- <div class="icon"></div> -->
                            <div class="name">我的内容</div>
                        </div>
                        <div class="item">
                            <!-- <div class="icon"></div> -->
                            <div class="name">批量转移</div>
                        </div>
                        <div class="item">
                            <!-- <div class="icon"></div> -->
                            <div class="name">内容审核</div>
                        </div>
                        <div class="item">
                            <!-- <div class="icon"></div> -->
                            <div class="name">内容回收站</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 内容 -->
        <div class="FixedSection Content">
            <iframe class="iframe" src="List.html"></iframe>
        </div>
    </div>
</body>
</html>
