<?xml version="1.0" encoding="utf-8"?>
<ArrayOfURLReWriter xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <URLReWriter>
        <Name>index</Name>
        <Inherit>System.Web.UI.Page</Inherit>
        <Templet>index.html</Templet>
        <Target />
        <ReItems>
            <RegularQuery>
                <Pattern>index.html</Pattern>
                <QueryParameter />
            </RegularQuery>
        </ReItems>
    </URLReWriter>
</ArrayOfURLReWriter>