<?xml version="1.0" encoding="utf-8"?>
<ArrayOfURLReWriter xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <URLReWriter>
        <Name>index</Name>
        <Type>index</Type>
        <Page>index.aspx</Page>
        <Inherit>System.Web.UI.Page</Inherit>
        <Templet>index.html</Templet>
        <Channel />
        <PageSize />
        <JoinString />
        <Items>
            <Item>
                <Path>index.aspx</Path>
                <Pattern>index.aspx</Pattern>
                <QueryString />
            </Item>
        </Items>
    </URLReWriter>
</ArrayOfURLReWriter>