<?xml version="1.0" encoding="utf-8"?>
<urls>
  <rewrite name="index" type="index" page="index.aspx" inherit="YTS.Web.UI.Page.index" templet="index.html">
    <item path="index.aspx" pattern="index.aspx" />
  </rewrite>
  <rewrite name="search" type="other" page="search.aspx" inherit="YTS.Web.UI.Page.search" templet="search.html" />
  <rewrite name="error" type="other" page="error.aspx" inherit="YTS.Web.UI.Page.error" templet="error.html" />
  <rewrite name="cart" type="other" page="cart.aspx" inherit="YTS.Web.UI.Page.cart" templet="cart.html" />
  <rewrite name="shopping" type="other" page="shopping.aspx" inherit="YTS.Web.UI.Page.shopping" templet="shopping.html" />
  <rewrite name="payment" type="other" page="payment.aspx" inherit="YTS.Web.UI.Page.payment" templet="payment.html" />
  <rewrite name="login" type="other" page="login.aspx" inherit="YTS.Web.UI.Page.login" templet="login.html" />
  <rewrite name="oauth_login" type="other" page="oauth_login.aspx" inherit="YTS.Web.UI.Page.oauth_login" templet="oauth_login.html" />
  <rewrite name="register" type="other" page="register.aspx" inherit="YTS.Web.UI.Page.register" templet="register.html" />
  <rewrite name="repassword" type="other" page="repassword.aspx" inherit="YTS.Web.UI.Page.repassword" templet="repassword.html" />
  <rewrite name="usercenter" type="other" page="usercenter.aspx" inherit="YTS.Web.UI.Page.usercenter" templet="usercenter.html">
    <item path="user/center/{0}.aspx" pattern="user/center/(\w+).aspx" querystring="action=$1" />
  </rewrite>
  <rewrite name="usermessage" type="other" page="usermessage.aspx" inherit="YTS.Web.UI.Page.usermessage" templet="usermessage.html">
    <item path="user/message/{0}.aspx" pattern="user/message/(\w+).aspx" querystring="action=$1" />
    <item path="user/message/{0}/{1}.aspx" pattern="user/message/(\w+)/(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="usermessage_show" type="other" page="usermessage_show.aspx" inherit="YTS.Web.UI.Page.usermessage_show" templet="usermessage_show.html">
    <item path="user/message/show-{0}.aspx" pattern="user/message/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="userpoint" type="other" page="userpoint.aspx" inherit="YTS.Web.UI.Page.userpoint" templet="userpoint.html">
    <item path="user/point/{0}.aspx" pattern="user/point/(\w+).aspx" querystring="action=$1" />
    <item path="user/point/{0}-{1}.aspx" pattern="user/point/(\w+)-(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="useramount" type="other" page="useramount.aspx" inherit="YTS.Web.UI.Page.useramount" templet="useramount.html">
    <item path="user/amount/{0}.aspx" pattern="user/amount/(\w+).aspx" querystring="action=$1" />
    <item path="user/amount/{0}-{1}.aspx" pattern="user/amount/(\w+)-(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="userorder" type="other" page="userorder.aspx" inherit="YTS.Web.UI.Page.userorder" templet="userorder.html">
    <item path="user/order-{0}.aspx" pattern="user/order-(\w+).aspx" querystring="action=$1" />
    <item path="user/order-{0}-{1}.aspx" pattern="user/order-(\w+)-(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="userorder_show" type="other" page="userorder_show.aspx" inherit="YTS.Web.UI.Page.userorder_show" templet="userorder_show.html">
    <item path="user/order/show-{0}.aspx" pattern="user/order/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="feedback" type="plugin" page="feedback.aspx" inherit="YTS.Web.Plugin.Feedback.feedback" templet="feedback.html">
    <item path="feedback.aspx" pattern="feedback.aspx" />
    <item path="feedback/{0}.aspx" pattern="feedback/(\w+).aspx" querystring="page=$1" />
  </rewrite>
  <rewrite name="link" type="plugin" page="link.aspx" inherit="YTS.Web.Plugin.Link.link" templet="link.html">
    <item path="link.aspx" pattern="link.aspx" />
  </rewrite>
  <rewrite name="product" type="index" page="product.aspx" inherit="YTS.Web.UI.Page.article" templet="product.html" channel="product">
    <item path="product.aspx" pattern="product.aspx" />
  </rewrite>
  <rewrite name="product_list" type="list" page="product_list.aspx" inherit="YTS.Web.UI.Page.article_list" templet="product_list.html" channel="product" pagesize="10">
    <item path="product/{0}.aspx" pattern="product/(\d+).aspx" querystring="category_id=$1" />
    <item path="product/{0}-{1}.aspx" pattern="product/(\d+)-(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="product_show" type="detail" page="product_show.aspx" inherit="YTS.Web.UI.Page.article_show" templet="product_show.html" channel="product">
    <item path="product/show-{0}.aspx" pattern="product/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="joinus" type="index" page="joinus.aspx" inherit="YTS.Web.UI.Page.article" templet="joinus.html" channel="joinus">
    <item path="joinus.aspx" pattern="joinus.aspx" />
  </rewrite>
  <rewrite name="joinus_list" type="list" page="joinus_list.aspx" inherit="YTS.Web.UI.Page.article_list" templet="joinus_list.html" channel="joinus" pagesize="20">
    <item path="joinus/list.aspx" pattern="joinus/list.aspx" />
    <item path="joinus/list-{0}.aspx" pattern="joinus/list-(\d+).aspx" querystring="category_id=$1" />
    <item path="joinus/list-{0}-{1}.aspx" pattern="joinus/list-(\d+)-(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="joinus_show" type="detail" page="joinus_show.aspx" inherit="YTS.Web.UI.Page.article_show" templet="joinus_show.html" channel="joinus">
    <item path="joinus/show-{0}.aspx" pattern="joinus/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="cmforum" type="index" page="cmforum.aspx" inherit="YTS.Web.UI.Page.article" templet="cmforum.html" channel="cmforum">
    <item path="cmforum.aspx" pattern="cmforum.aspx" />
  </rewrite>
  <rewrite name="cmforum_list" type="list" page="cmforum_list.aspx" inherit="YTS.Web.UI.Page.article_list" templet="cmforum_list.html" channel="cmforum" pagesize="10">
    <item path="cmforum/list.aspx" pattern="cmforum/list.aspx" />
    <item path="cmforum/list-{0}.aspx" pattern="cmforum/list-(\d+).aspx" querystring="category_id=$1" />
    <item path="cmforum/list-{0}-{1}.aspx" pattern="cmforum/list-(\d+)-(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="cmforum_show" type="detail" page="cmforum_show.aspx" inherit="YTS.Web.UI.Page.article_show" templet="cmforum_show.html" channel="cmforum">
    <item path="cmforum/show-{0}.aspx" pattern="cmforum/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="walkinzf" type="index" page="walkinzf.aspx" inherit="YTS.Web.UI.Page.article" templet="walkinzf.html" channel="walkinzf" />
  <rewrite name="contactus" type="index" page="contactus.aspx" inherit="YTS.Web.UI.Page.article" templet="contactus.html" channel="contactus" />
  <rewrite name="directsupply" type="index" page="directsupply.aspx" inherit="YTS.Web.UI.Page.article" templet="directsupply.html" channel="directsupply" />
  <rewrite name="publicwelfare" type="index" page="publicwelfare.aspx" inherit="YTS.Web.UI.Page.article" templet="publicwelfare.html" channel="publicwelfare" />
  <rewrite name="ginsengdecode_list" type="list" page="ginsengdecode_list.aspx" inherit="YTS.Web.UI.Page.article_list" templet="ginsengdecode_list.html" channel="ginsengdecode" pagesize="10">
    <item path="ginsengdecode/{0}.aspx" pattern="ginsengdecode/(\d+).aspx" querystring="category_id=$1" />
    <item path="ginsengdecode/{0}-{1}.aspx" pattern="ginsengdecode/(\d+)-(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="ginsengdecode_show" type="detail" page="ginsengdecode_show.aspx" inherit="YTS.Web.UI.Page.article_show" templet="ginsengdecode_show.html" channel="ginsengdecode">
    <item path="ginsengdecode/show-{0}.aspx" pattern="ginsengdecode/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="ginsengdecode" type="index" page="ginsengdecode.aspx" inherit="YTS.Web.UI.Page.article" templet="ginsengdecode.html" channel="ginsengdecode" />
</urls>