<div class="ModelBox_MAX Footer boxSizing_borderbox zix-1">
    <div class="ModelBox Qrcode">
        <div class="content">
            <div class="box img">
                <img class="img" src="<%templateskin%>/images/zf_wechat_qrcode.png" />
                <img class="img max" src="<%templateskin%>/images/zf_wechat_qrcode.png" />
            </div>
            <div class="box">
                <span class="span">扫码关注珍峰</span>
            </div>
        </div>
    </div>
    <div class="ModelBox Content">
        <div class="Block Navigation">
            <div class="List">
                <a class="a li" href='<%linkurl("index")%>'><span class="span">首页</span></a>
                <a class="a li" href='<%linkurl("walkinzf")%>'><span class="span">走进珍峰</span></a>
                <a class="a li" href='<%linkurl("ginsengdecode_list",52)%>'><span class="span">解密虫草</span></a>
                <a class="a li" href='<%linkurl("directsupply")%>'><span class="span">私人直供</span></a>
                <a class="a li" href='<%linkurl("publicwelfare")%>'><span class="span">珍峰公益</span></a>
                <a class="a li" href='<%linkurl("contactus")%>'><span class="span">联系我们</span></a>
            </div>
        </div>
    </div>
    <div class="ModelBox Content">
        <div class="Block CopyRight clearfix">
            <span class="span">{site.copyright}{site.crod}</span>
            <span class="span tel">{site.tel}</span>
            <span class="span tel">
                <img class="img" src="<%templateskin%>/images/tel.png?v1.0" />
            </span>
            <span class="span tel wx">
                <img class="img" src="<%templateskin%>/images/weixin.png?v1.0" />
                <img class="img hide" src="<%templateskin%>/images/zf_wechat_qrcode.png">
            </span>
        </div>
    </div>
</div>
