<div class="ModelBox_MAX Head"></div>
<div class="ModelBox_MAX Head Fixed zix-2" id="ID_Box_HeadFixed">
    <div class="ModelBox Head Content">
        <div class="Logo boxSizing_borderbox">
            <a class="a" href="/index.html">
                <img class="img" src="<%templateskin%>/images/logo_max.png" />
                <img class="img white" src="<%templateskin%>/images/logo.png" />
            </a>
        </div>
        <div class="Directory boxSizing_borderbox" onclick="window.PageMethod.ToggleClassName($('#ID_Box_HeadFixed'), 'Focus');">
            <div class="Button">
                <div class="line top"></div>
                <div class="line center"></div>
                <div class="line bottom"></div>
            </div>
            <div class="HintText text_noneSelect">
                <span class="span">导航</span>
            </div>
        </div>
        <div class="Navigation boxSizing_borderbox">
            <div class="ContactInfo">
                <span class="span">{site.tel}</span>
                <span class="span">
                    <img class="img" src="<%templateskin%>/images/tel.png?v1.0" />
                </span>
                <span class="span wx">
                    <img class="img" src="<%templateskin%>/images/weixin.png?v1.0" />
                    <img class="img hide" src="<%templateskin%>/images/zf_wechat_qrcode.png">
                </span>
            </div>
            <div class="BgRegion opacity_7 ThemeColor_bg_black"></div>
            <div class="List">
                <div class="li"><a class="a name" href='<%linkurl("index")%>'><span class="span">首页</span></a></div>
                <div class="li"><a class="a name" href='<%linkurl("walkinzf")%>'><span class="span">走进珍峰</span></a></div>
                <div class="li"><a class="a name" href='<%linkurl("ginsengdecode_list",52)%>'><span class="span">解密虫草</span></a></div>
                <div class="li"><a class="a name" href='<%linkurl("directsupply")%>'><span class="span">私人直供</span></a></div>
                <div class="li"><a class="a name" href='<%linkurl("publicwelfare")%>'><span class="span">珍峰公益</span></a></div>
                <div class="li"><a class="a name" href='<%linkurl("contactus")%>'><span class="span">联系我们</span></a></div>
            </div>
        </div>
    </div>
</div>
