<div class="ModelBox_MAX Head"></div>
<div class="ModelBox_MAX Head Fixed zix-2 ThemeColor_bg_yellow" id="ID_Box_HeadFixed">
    <div class="Logo boxSizing_borderbox">
        <a class="a" href="index.html">
            <img class="img" src="<%templateskin%>/images/logo.png" />
            <img class="img white" src="<%templateskin%>/images/logo_white.png" />
        </a>
    </div>
    <div class="Directory boxSizing_borderbox" onclick="window.PageMethod.ToggleClassName($('#ID_Box_HeadFixed'), 'Focus');">
        <div class="Button">
            <div class="line top"></div>
            <div class="line center"></div>
            <div class="line bottom"></div>
        </div>
        <div class="HintText text_noneSelect">
            <span class="span">简介</span>
        </div>
    </div>
    <div class="Navigation boxSizing_borderbox">
        <div class="BgRegion opacity_7 ThemeColor_bg_black"></div>
        <div class="List">
            <div class="li"><span class="span">创美贴吧</span></div>
        </div>
    </div>
</div>
