<link type="image/x-icon" rel="shortcut icon" href="/favicon.ico" />
<link rel="stylesheet" type="text/css" href="/admin/skin/icon/iconfont.css" />
<link rel="stylesheet" type="text/css" href="<%templateskin%>/css/fonts-css/iconFA/style.css">
<link rel="stylesheet" type="text/css" href="<%templateskin%>/css/font/iconfont.css">
<!--[if lt IE 8]><!-->
<link rel="stylesheet" type="text/css" href="<%templateskin%>/css/fonts-css/iconFA/ie7/ie7.css">
<!--<![endif]-->
<link rel="stylesheet" type="text/css" href="<%templateskin%>/css/YTSConfig.css">
<link rel="stylesheet" type="text/css" href="<%templateskin%>/css/Index.css?v0.0.2">
<link rel="stylesheet" type="text/css" href="/css/pagination.css">

<script type="text/javascript" charset="utf-8" src="{config.webpath}scripts/jquery/jquery-1.11.2.min.js"></script>
<script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/Data.js"></script>
<script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/Script.js"></script>
<script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/PluginToolJS.js"></script>
