<div class="ModelBox_MAX Banner zix-1">
    <div class="Btn_Go Left">
        <div class="topbox"></div>
        <div class="button">
            <div class="icon iconfont icon-arrow-left"></div>
        </div>
    </div>
    <div class="Btn_Go Right">
        <div class="topbox"></div>
        <div class="button">
            <div class="icon iconfont icon-arrow-right"></div>
        </div>
    </div>
    <div class="List BgImg BgLoading" id="ID_BannerList">
        <div class="li BgImg" style="background-image: url(<%templateskin%>/images/banner-1.jpg);"></div>
        <div class="li BgImg" style="background-image: url(<%templateskin%>/images/banner-2.jpg);"></div>
    </div>
</div>
