<div class="ModelBox_MAX Footer boxSizing_borderbox ThemeColor_bg_yellow zix-1">
    <div class="ModelBox Content">
        <div class="Block Logo">
            <img class="img" src="<%templateskin%>/images/logo.png" />
        </div>
        <div class="Block Navigation">
            <div class="List">
                <div class="li"><span class="span">创美贴吧</span></div>
            </div>
        </div>
    </div>
    <div class="ModelBox LineHR"></div>
    <div class="ModelBox Content">
        <div class="Block CopyRight">
            <span class="span">{site.copyright}{site.crod}</span>
        </div>
    </div>
</div>
