<?xml version="1.0"?>
<SiteConfigModel>
    <webname>育米妈妈系统</webname>
    <weburl>http://weixin.yumimama.com</weburl>
    <webcompany>育米妈妈</webcompany>
    <payurl>http://weixin.yumimama.com</payurl>
    <webtel>13800138000</webtel>
    <webfax>http://weixin.yumimama.com</webfax>
    <webmail>info@WeiFen.net</webmail>
    <webcrod />
    <webpath>/</webpath>
    <webmanagepath>adminweifen</webmanagepath>
    <staticstatus>1</staticstatus>
    <staticextension>html</staticextension>
    <sitetype>4</sitetype>
    <closetixian>0</closetixian>
    <tixianstatus>0</tixianstatus>
    <msgtype>1</msgtype>
    <logstatus>1</logstatus>
    <webstatus>1</webstatus>
    <webclosereason>商海有道正在进行系统技术升级，升级时间为30分钟，预计访问恢复时间2016-3-8 1:30</webclosereason>
    <webcountcode />
    <qrcode_start_time>2016/08/26 16:55:18</qrcode_start_time>
    <smsapiurl>http://sms.WeiFen.net/httpapi/</smsapiurl>
    <smsusername>test</smsusername>
    <smspassword>e10adc3949ba59abbe56e057f20f883e</smspassword>
    <emailsmtp>smtp.qq.com</emailsmtp>
    <emailssl>1</emailssl>
    <emailport>25</emailport>
    <emailfrom>info@it134.cn</emailfrom>
    <emailusername>info@it134.cn</emailusername>
    <emailpassword>50C215BB3B599960</emailpassword>
    <emailnickname>动力启航</emailnickname>
    <filepath>upload</filepath>
    <userfilepath>user_upload</userfilepath>
    <qrcodefilepath>qrcode_upload</qrcodefilepath>
    <filesave>2</filesave>
    <fileremote>1</fileremote>
    <fileextension>gif,jpg,png,bmp,rar,zip,doc,xls,txt</fileextension>
    <videoextension>flv,mp3,mp4,avi,wma</videoextension>
    <attachsize>51200</attachsize>
    <videosize>102400</videosize>
    <imgsize>10240</imgsize>
    <imgmaxheight>0</imgmaxheight>
    <imgmaxwidth>0</imgmaxwidth>
    <thumbnailheight>0</thumbnailheight>
    <thumbnailwidth>0</thumbnailwidth>
    <thumbnailmode>Cut</thumbnailmode>
    <watermarktype>0</watermarktype>
    <watermarkposition>9</watermarkposition>
    <watermarkimgquality>100</watermarkimgquality>
    <watermarkpic>watermark.png</watermarkpic>
    <watermarktransparency>5</watermarktransparency>
    <watermarktext>动力启航</watermarktext>
    <watermarkfont>Tahoma</watermarkfont>
    <watermarkfontsize>12</watermarkfontsize>
    <sysdatabaseprefix>dt_</sysdatabaseprefix>
    <sysencryptstring>YellowTulipShowZrqWebJiaMiHaHaHa</sysencryptstring>
</SiteConfigModel>